/*=================================
=            BOOTSTRAP            =
=================================*/
/*=====  End of BOOTSTRAP  ======*/
/*================================
=            DASHBORD            =
================================*/
.dashbord-wrap {
  position: relative;
  min-height: 880px;
  background: #ecf0f1;
  padding-left: 350px;
}
@media (max-width: 1201px) {
  .dashbord-wrap {
    padding-left: 260px;
  }
}
@media (max-width: 991px) {
  .dashbord-wrap {
    padding-left: 0;
    min-height: 0;
  }
}
.dashbord-wrap_nav-block_nav-trigger {
  height: 60px;
  background: #e74c3c;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  position: relative;
  cursor: pointer;
  padding-left: 60px;
}
.dashbord-wrap_nav-block_nav-trigger_icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 15px;
  margin-top: -15px;
  z-index: 20;
  cursor: pointer;
}
.dashbord-wrap_nav-block_nav-trigger_icon span {
  display: block;
  height: 6px;
  background: #fff;
}
.dashbord-wrap_nav-block_nav-trigger_icon span + span {
  margin-top: 6px;
}
.dashbord-wrap_nav-block {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #e0e4e5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block {
    width: 260px;
  }
}
@media (max-width: 991px) {
  .dashbord-wrap_nav-block {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    z-index: 100;
  }
}
@media (max-width: 991px) {
  .dashbord-wrap_nav-block.active ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.dashbord-wrap_nav-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
  .dashbord-wrap_nav-block ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #e0e4e5;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    transition: all 0.3s ease;
  }
}
.dashbord-wrap_nav-block li.active a {
  background: #f0f2f2;
  padding-left: 56px !important;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block li.active a {
    padding-left: 46px !important;
  }
}
.dashbord-wrap_nav-block li.active a:before {
  left: 25px !important;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block li.active a:before {
    left: 20px !important;
  }
}
.dashbord-wrap_nav-block a {
  display: block;
  text-decoration: none !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 56px;
  padding-right: 20px;
  font-size: 15px;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  transition: background 0.3s ease, padding 0.3s ease;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block a {
    padding-left: 46px;
  }
}
.dashbord-wrap_nav-block a:before {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #2c3e50;
  top: 50%;
  margin-top: -5px;
  left: 25px;
  transition: left 0.3s ease;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block a:before {
    left: 20px;
  }
}
.dashbord-wrap_nav-block a:hover {
  padding-left: 66px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block a:hover {
    padding-left: 56px;
  }
}
.dashbord-wrap_nav-block a:hover:before {
  left: 35px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_nav-block a:hover:before {
    left: 30px;
  }
}
.dashbord-wrap_content-block_title {
  background: #f6f8f8;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 72px;
  padding-right: 34px;
  font-size: 30px;
  color: #2c3e50;
  font-weight: 700;
  letter-spacing: 3.1px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_content-block_title {
    padding-left: 34px;
  }
}
@media (max-width: 991px) {
  .dashbord-wrap_content-block_title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.dashbord-wrap_content-block_content {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 110px;
}
@media (max-width: 991px) {
  .dashbord-wrap_content-block_content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.dashbord-wrap_content-block_content_three-col-block .row {
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block .col-xs-4 {
    width: auto;
    float: none;
  }
  .dashbord-wrap_content-block_content_three-col-block .col-xs-4 + .col-xs-4 {
    margin-top: 15px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item {
  height: 130px;
  border-bottom: 4px solid #000;
  background: #ffffff;
  position: relative;
  transition: box-shadow 0.3s ease;
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item {
    height: 215px;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item {
    height: 80px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item.green {
  border-bottom-color: #1abc9c;
}
.dashbord-wrap_content-block_content_three-col-block_item.green:hover {
  box-shadow: 0px 0px 10px 0px #1abc9c;
}
.dashbord-wrap_content-block_content_three-col-block_item.red {
  border-bottom-color: #e74c3c;
}
.dashbord-wrap_content-block_content_three-col-block_item.red:hover {
  box-shadow: 0px 0px 10px 0px #e74c3c;
}
.dashbord-wrap_content-block_content_three-col-block_item.blue {
  border-bottom-color: #3498db;
}
.dashbord-wrap_content-block_content_three-col-block_item.blue:hover {
  box-shadow: 0px 0px 10px 0px #3498db;
}
.dashbord-wrap_content-block_content_three-col-block_item a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none !important;
  padding-left: 125px;
  padding-right: 15px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_content-block_content_three-col-block_item a {
    padding-left: 90px;
  }
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item .ok-icon {
  width: 71px;
  height: 58px;
  position: absolute;
  top: 36px;
  left: 31px;
  fill: #1abc9c;
}
@media (max-width: 1201px) {
  .dashbord-wrap_content-block_content_three-col-block_item .ok-icon {
    left: 10px;
  }
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item .ok-icon {
    left: 50%;
    margin-left: -35px;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item .ok-icon {
    top: 12px;
    width: 41px;
    left: 25px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item .like-icon {
  position: absolute;
  top: 34px;
  left: 31px;
  fill: #e74c3c;
  width: 65px;
  height: 60px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_content-block_content_three-col-block_item .like-icon {
    left: 13px;
  }
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item .like-icon {
    left: 50%;
    margin-left: -32px;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item .like-icon {
    top: 10px;
    width: 45px;
    left: 22px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item .share-icon {
  position: absolute;
  top: 29px;
  left: 33px;
  fill: #3498db;
  width: 60px;
  height: 67px;
}
@media (max-width: 1201px) {
  .dashbord-wrap_content-block_content_three-col-block_item .share-icon {
    left: 14px;
  }
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item .share-icon {
    left: 50%;
    margin-left: -30px;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item .share-icon {
    top: 5px;
    width: 40px;
    left: 24px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item .number {
  font-size: 25px;
  color: #2c3e50;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 29px;
  letter-spacing: 2px;
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item .number {
    text-align: center;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item .number {
    margin-top: 10px;
  }
}
.dashbord-wrap_content-block_content_three-col-block_item .text {
  font-size: 13px;
  color: #666666;
  margin-top: 5px;
  letter-spacing: 0.8px;
}
@media (max-width: 767px) and (min-width: 612px) {
  .dashbord-wrap_content-block_content_three-col-block_item .text {
    text-align: center;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_three-col-block_item .text {
    margin-top: 0;
  }
}
.dashbord-wrap_content-block_content_graph-block {
  margin-top: 30px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
@media (max-width: 991px) {
  .dashbord-wrap_content-block_content_graph-block {
    margin-top: 20px;
  }
}
.dashbord-wrap_content-block_content_graph-block_top-line {
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
}
.dashbord-wrap_content-block_content_graph-block_top-line ul.nav.nav-tabs {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -1px;
}
.dashbord-wrap_content-block_content_graph-block_top-line ul.nav.nav-tabs li {
  float: left;
}
.dashbord-wrap_content-block_content_graph-block_top-line ul.nav.nav-tabs li + li {
  margin-left: -1px;
}
.dashbord-wrap_content-block_content_graph-block_top-line ul.nav.nav-tabs li.active a {
  color: #2c3e50;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.dashbord-wrap_content-block_content_graph-block_top-line ul.nav.nav-tabs li a {
  text-decoration: none !important;
  display: block;
  line-height: 48px;
  height: 48px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  color: #a5a5a5;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons {
  float: right;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 16px;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons > a {
  display: block;
  text-decoration: none !important;
  float: right;
  width: 24px;
  height: 24px;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons > a + a {
  margin-right: 2px;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .minus-button {
  background: #e6e6e6;
  transition: background 0.3s ease;
  border-radius: 3px;
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .minus-button:hover {
  background: #1abc9c;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .minus-button:hover:before {
  background: #fff;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .minus-button:before {
  display: block;
  content: '';
  width: 10px;
  height: 2px;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  transition: background 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .full-screen-button {
  background: #e6e6e6;
  transition: background 0.3s ease;
  border-radius: 3px;
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .full-screen-button:hover {
  background: #1abc9c;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .full-screen-button:hover .full-screen-icon {
  fill: #fff;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .full-screen-button .full-screen-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  fill: #a1a1a1;
  transition: fill 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .water-button {
  position: relative;
  margin-right: 7px;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .water-button:hover .water-icon {
  fill: #3498db;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .water-button .water-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  fill: #afafaf;
  transition: fill 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .refresh-button {
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .refresh-button:hover .refresh-icon {
  fill: #1abc9c;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .refresh-button .refresh-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  fill: #afafaf;
  transition: fill 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .remove-button {
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .remove-button:hover .remove-icon {
  fill: #e74c3c;
}
.dashbord-wrap_content-block_content_graph-block_top-line_buttons .remove-button .remove-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  fill: #afafaf;
  transition: fill 0.3s ease;
}
.dashbord-wrap_content-block_content_graph-block_tabs .tab-pane {
  padding: 24px;
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_graph-block_tabs .tab-pane {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .daterange {
  float: left;
  height: 32px;
  border: 1px solid #e0e0e0;
  line-height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 25px;
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .daterange .caret {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_graph-block_tabs_selects .daterange {
    width: 100%;
    font-size: 11px;
  }
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export {
  float: right;
  position: relative;
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_graph-block_tabs_selects .export {
    margin-top: 5px;
  }
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export.active ul {
  opacity: 1;
  visibility: visible;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 3px;
  right: 0;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export ul a {
  text-decoration: none !important;
  display: block;
  font-size: 13px;
  padding: 5px 10px;
  transition: background 0.3s ease;
  color: #000;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export ul a:hover {
  background: #eee;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export_trig {
  height: 32px;
  border: 1px solid #e0e0e0;
  line-height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 13px;
  cursor: pointer;
  padding-right: 25px;
  position: relative;
}
.dashbord-wrap_content-block_content_graph-block_tabs_selects .export_trig .caret {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}
.dashbord-wrap_content-block_content_graph-block_graph {
  height: 500px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .dashbord-wrap_content-block_content_graph-block_graph {
    height: 300px;
  }
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_graph-block_graph {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
  }
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-label {
  font-size: 13px;
}
@media (max-width: 611px) {
  .dashbord-wrap_content-block_content_graph-block_graph .ct-label {
    font-size: 10px;
  }
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-grid {
  stroke-dasharray: 5px;
  stroke: #e8e8e8;
  stroke-width: 2px;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-a .ct-area {
  fill: #f69988;
  fill-opacity: 0.2;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-a .ct-line {
  stroke: #f69988;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-a .ct-point {
  stroke: #f69988;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-b .ct-line {
  stroke: #cfd8dc;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-b .ct-point {
  stroke: #cfd8dc;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-c .ct-line {
  stroke: #f5f5f5;
}
.dashbord-wrap_content-block_content_graph-block_graph .ct-series-c .ct-point {
  stroke: #f5f5f5;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  padding: 6px 12px;
  border: 1px solid #4cae4c;
  border-radius: 3px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 3px;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
/*=====  End of DASHBORD  ======*/
