.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
    display: inline-block;

    width: 100%;
    border: 1px solid #dddddd;
    height: 52px;
    line-height: 50px;
    border-radius: 0;
    box-shadow: none;
    padding-left: 22px;
    padding-right: 22px;
    color: #2c3e50;
    outline: 0 !important;
    letter-spacing: 0.6px;
}

.inputfile:focus + label,
.inputfile + label:hover {
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
